body {
    font-family: Arial, sans-serif;
    background-color: lightgreen;
}
.main{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: .5px solid black;
}
.main h1 {
    text-align: center;
}

form {
    width: 250px;
    margin: 0 auto;
}
input{
    width: 200px;
    height: 25px;
    border: .5px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
input[type="submit"] {
    margin-top: 40px;
    padding: 25px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}